.friendList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item{
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    align-items: center;
    padding: 4px 18px;
    background-color: white;
    box-shadow: -1px 1px 2px 1px rgb(106, 104, 104);
    border-radius: 1px;
}

.status{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(231, 239, 114);
}

.avatar{
    border: 1px solid;
    border-color: #e1e4e8;
    border-radius:10px;
}

.name{
    font-size: 36px;
    font-weight: 500;
}